<div class="container">
    <div class="f-container">
        <div class="flex-item-left">
            <h3>Looks like you're new here!</h3><br>
            <h5>Sign up with your email to get started</h5>
        </div>
        <div class="form-group flex-item-right">
            <form [formGroup]="registerForm">
                <input type="text" id="email" name="email" formControlName="email" class="form-control"
                    placeholder="Enter Your Email">
                <span class="help-block"
                    *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
                    Please enter a valid Mail-ID</span><br><br>
                <input type="text" id="password" name="password" formControlName="password" class="form-control"
                    placeholder="Enter Your Password">
                <span class="help-block"
                    *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
                    Please enter a valid Password</span><br><br>
                <button class="btn New-User" [disabled]="!registerForm.valid"
                    (click)="onRegister()">Continue</button><br><br>
                <button class="btn Existing-User" routerLink="/login">Existing User? Log in</button><br><br>
            </form>
        </div>
    </div>
</div>