.flipcart{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #fff;
}
i{
    font-size: 50px;
    color: #fff;
}
.form-control{
    width: 90%;
    margin-left: 20px;
}
.search-icon{
    position: absolute;
    color: dodgerblue;
    right: 10%;
    font-size: 20px;
    margin-top: -28px;
}
.login-container{
    float:left;
    margin-left: 20px;
}
button.login{
    color: #2874f0;
    font-weight: 500;
    background-color: #fff;
    cursor: pointer;
    border-radius: 2px;
    height: 32px;
    padding: 2px 40px 5px 40px;
    border: 1px solid #dbdbdb;
    text-align: center;
}