<div class="full container-fluid">
    <div class="container-fluid">
        <div class="container d-flex">
            <div class="item">
                <a (click)="filter('')">
                    <img src="../../../assets/New folder/all_categories.jpg" alt="All Categories">
                    <h6>All Categories</h6>
                </a>
            </div>
            <div class="item">
                <a (click)="filter('electronics')">
                    <img src="../../../assets/New folder/electronics.jpg" alt="Electronics">
                    <h6>Electronics</h6>
                </a>
            </div>
            <div class="item">
                <a (click)="filter('fasion')">
                    <img src="../../../assets/New folder/fasion.jpg" alt="Fasion">
                    <h6>Fasion</h6>
                </a>
            </div>
            <div class="item">
                <a (click)="filter('jewelery')">
                    <img src="../../../assets/New folder/jewellary.jpg" alt="jewellery">
                    <h6>jewellery</h6>
                </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <ng-container *ngFor="let item of filterCategory | filter:searchKey:'title'">
                <div class="card col-md-3">
                    <img style="margin-left: 42px;" src="{{item.image}}" alt="">
                    <h5 style="white-space:nowrap; overflow: hidden; text-overflow: ellipsis;max-width:100ch;">
                        {{item.title}}</h5>
                    <p style="white-space:nowrap; overflow: hidden; text-overflow: ellipsis;max-width:100ch;">
                        {{item.description}}</p>
                    <p><strong>Price:</strong>${{item.price}}</p>
                    <button class="btn btn-primary" (click)="addToCart(item)">Add to Cart</button>
                </div>
            </ng-container>
        </div>
    </div>
</div>